{{#each article}}
    <div class="col-md-12">
        <h2><a href="{{link}}" target="_blank">{{title}}</a></h2>
        <p>{{summary}}</p>
        <p>

        <form action="/save" method="POST">
            <input name="_id" value="{{_id}}" type="hidden"/>
            {{!--<input name="title" value="{{title}}" type="hidden"/>
            <input name="link" value="{{link}}" type="hidden"/>
            <input name="summary" value="{{summary}}" type="hidden"/>--}}
            <button type="submit" class="btn btn-default">Save »</button>
        </form>
        </p>
    </div>
{{/each}}