
<!--Handlebars to handle gathering the comments and displaying them on the page-->

{{#each article}}
    <div class="col-md-12">
        <h2><a href="{{link}}" target="_blank">{{title}}</a></h2>
        <p>{{summary}}</p>

        <div class="hidden-comment-form">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    {{#each comment}}
                        <div class="row">
                            <div class="col-sm-12">
                                <p>
                                    {{comment}}
                                </p>
                                <form action="/comment/remove-comment/{{this.id}}" method="POST">
                                    <input name="comment" value="{{this.id}}" type="text"/>
                                    <button type="submit" class="btn btn-default">Delete</button>
                                </form>
                            </div>
                        </div>
                    {{/each}}
                    <div class="col-sm-4 col-sm-offset-2">
                        <form action="/comment/add-comment/{{this.id}}" method="POST">
                            <input class="form-control" name="comment"/>
                            <button type="submit" class="btn btn-default">Add Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <form action="/unsave" method="POST">
                <input name="comment" value="{{comment}}" type="text"/>
                <button type="submit" class="btn btn-default">Unsave »</button>
            </form>
            <a class="btn btn-default" data-article="{{this.id}}" target="_blank">View Comment</a>
        </div>

    </div>
{{/each}}